@model MySchoolSystem.Models.ViewModels.ResetPasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
}

<h1>Change</h1>

<h4>Password</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <input asp-for="IsAdmin" class="form-control" hidden />
            <input asp-for="UserId" class="form-control" hidden />


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-outline-primary" />
            </div>
        </form>
        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
