@model MySchoolSystem.Models.ViewModels.RoleViewModel;

@{ ViewBag.Title = "Edit Role";}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <input hidden asp-for="Id" />

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <button class="btn btn-outline-info" onclick="history.back()">Go Back</button>
            <button class="btn btn-outline-primary" type="submit">Update Role</button>
        </form>
    </div>
</div>