@model MySchoolSystem.Models.ViewModels.EnrollmentViewModel

@{
    ViewData["Title"] = "Create";
}


<h4>Create Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label">Course:</label>
                <select asp-for="CourseId" class="form-control" asp-items="Model.Courses">
                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Student:</label>
                <select asp-for="StudentId" class="form-control" asp-items="Model.Students">
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodId" class="control-label">Period:</label>
                <select asp-for="PeriodId" class="form-control" asp-items="Model.Period">
                </select>
                <span asp-validation-for="PeriodId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="GradeId" class="control-label">Grade:</label>
                <select asp-for="GradeId" class="form-control" asp-items="Model.Grade">
                </select>
                <span asp-validation-for="GradeId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" min="1900" max="2099" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Dropped" /> @Html.DisplayNameFor(model => model.Dropped)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OpenForEnrollment" /> @Html.DisplayNameFor(model => model.OpenForEnrollment)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
